.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .nav-item {
    margin-left: 1rem;
}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #666;
}